@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
.card{
    width: 26vh;
    background-color: aliceblue;
    

}
.fav {
    width: 26vh;
    border: 1px solid black;
    background-color: azure;
    border-radius: 1vh;
    margin-bottom: 3vh;
}
.app{
    height: 100%;
    padding-bottom: px; 
}
img{ 
    border: 1px solid grey;
    background-color: rgb(233, 233, 235);
    margin-top: 1vh;

    
}
.img{
    width: 20%;
    height: 20%;
    background-color: rgb(221, 234, 234);
    padding-bottom: 2vh;
}
.row{
    
    margin-left: 50vh;
}
.fav-delete{
    align-items: end;
    margin-left: 2vh;
}
.card-title{
    font-size: 2vh;
}
.card-text{
    font-size: 1vh;
}
.btn{

    font-size: 10px;
    padding: 2px ;
}

.delete , .view{
    margin-left: 5px;
    
}
.status{
    display: flex;
    
}
.armor , .damage{
    margin-left: 1vh;
}
.health , .armor , .damage{
    font-size: 1vh;
}
.des-card{
    width: 115% ;
}